# This notebook merge original dataset with new data set for compare

In [1]:
import pandas as pd

In [2]:
# Store filepath in a variable
bees_one = "/Users/kathysmacbookpro2019/Desktop/bees_new.csv"
bees_two = "/Users/kathysmacbookpro2019/Desktop/BIP_bee.csv"

In [3]:
# Read our Data file with the pandas library
bees_one_df = pd.read_csv(bees_one)
bees_two_df = pd.read_csv(bees_two)

In [4]:
bees_one_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 5 columns):
State            180 non-null object
Colonies         180 non-null int64
Lost Colonies    180 non-null int64
Year             180 non-null int64
Lost Unknown     178 non-null float64
dtypes: float64(1), int64(3), object(1)
memory usage: 7.1+ KB

In [5]:
bees_two_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 4 columns):
State                193 non-null object
BIP Colonies         193 non-null int64
BIP Colonies Lost    193 non-null int64
Year                 193 non-null int64
dtypes: int64(3), object(1)
memory usage: 6.1+ KB

In [9]:
merge_table = pd.merge(bees_one_df, bees_two_df, on = ["State", "Year"])
merge_table

,State,Colonies,Lost Colonies,Year,Lost Unknown,BIP Colonies,BIP Colonies Lost
0,Alabama,31000,4670,2015,521.19,2303,765
1,Alabama,30500,4440,2016,506.17,367,128
2,Alabama,28000,3930,2017,258.70,1776,819
3,Alabama,29500,4000,2018,228.40,2303,742
4,Arizona,111000,20900,2016,1409.70,176,114
5,Arizona,106000,19200,2017,409.00,1576,1228
6,Arkansas,72500,14800,2015,512.10,586,234
7,Arkansas,111000,12400,2016,502.20,1940,770
8,Arkansas,89000,18900,2017,250.50,3953,1858
9,Arkansas,95500,17800,2018,1452.30,586,234
10,California,3960000,584000,2015,20343.00,300959,119782
11,California,3750000,595000,2016,29085.00,246959,75322
12,California,3420000,507000,2017,27522.00,141770,48769
13,California,3550000,568000,2018,30733.00,300959,119782
14,Colorado,68500,10400,2015,340.40,3394,984
15,Colorado,77500,13550,2016,14.30,448,216
16,Colorado,95000,16900,2017,440.10,3634,839
17,Colorado,93500,16400,2018,399.60,3394,984
18,Connecticut,13800,1210,2015,25.01,111,44
19,Connecticut,11400,880,2016,15.23,345,213
20,Connecticut,13600,980,2017,27.54,448,327
21,Connecticut,13200,610,2018,12.00,111,44
22,Florida,899000,150000,2015,5517.00,25189,10126
23,Florida,970000,135000,2016,4197.00,46181,13485
24,Florida,861000,154000,2017,33470.00,17663,7065
25,Florida,932000,168000,2018,23877.00,25189,10126
26,Georgia,436000,68500,2015,3635.50,11278,5628
27,Georgia,406000,50500,2016,1959.50,25731,7848
28,Georgia,499000,63000,2017,2637.50,7547,3200
29,Georgia,547000,79500,2018,5088.00,11278,5628
...,...,...,...,...,...,...,...
140,Tennessee,35000,7400,2018,815.60,1086,540
141,Texas,697000,100500,2015,4135.00,131777,55215
142,Texas,845000,117000,2016,3264.00,42249,14745
143,Texas,851000,112000,2017,3421.00,39557,13647
144,Texas,738000,94500,2018,9540.50,131777,55215
145,Utah,89000,16600,2015,76.70,1840,905
146,Utah,83500,11500,2016,150.30,1682,895
147,Utah,101000,13900,2017,995.60,755,338
148,Utah,79000,10320,2018,236.60,1840,905
149,Vermont,24000,1780,2015,50.38,1516,440
150,Vermont,23500,1090,2016,10.33,1169,567
151,Vermont,26500,1260,2017,20.25,930,531
152,Vermont,24500,1590,2018,8.19,1516,440
153,Virginia,31000,4200,2015,398.67,4123,1699
154,Virginia,27500,2870,2016,116.47,1880,829
155,Virginia,37500,4700,2017,227.70,4114,2686
156,Virginia,26500,4310,2018,390.97,4123,1699
157,Washington,328000,37000,2015,564.50,53208,24848
158,Washington,290000,33500,2016,726.50,49487,19646
159,Washington,291000,37000,2017,840.00,49112,11885
160,Washington,250000,35100,2018,542.40,53208,24848
161,West Virginia,23400,3280,2015,177.83,435,175
162,West Virginia,28500,3880,2016,143.22,628,167
163,West Virginia,30500,3300,2017,94.86,1584,851
164,West Virginia,26200,4790,2018,260.05,435,175
165,Wisconsin,149500,28100,2015,2395.80,31583,13170
166,Wisconsin,168500,28100,2016,5729.90,13507,3971
167,Wisconsin,160000,29400,2017,3278.50,15837,4973
168,Wyoming,66200,12140,2016,33.22,4972,1163
169,Wyoming,84500,13900,2017,331.70,66,27